.md{
    width: 990px;
    margin: 0 auto;
}
/* header{
    height: 161px;
    background-color: purple;
} */
.ywjj-content{
    padding: 40px 0 100px;
    display: flex;
    /* flex-direction: row; */
}
.ywjj-colunm1{
    /* height: 100px; */
    /* background-color: aquamarine; */
    width: 650px;
}
.ywjj-colunm2{
    /* height: 1600px; */
    /* background-color: aqua; */
    width: 290px;
    margin-left: 50px;
}
/* ----------------------------------------- */
.recommend{
    /* width: 650px; */
    /* height: 466px; */
    height: 490px;
    /* background: -webkit-linear-gradient(#C4DFE6,#F5F7F6); */
}
.recommend img{
    /* width: 610px; */
    /* height: 376px; */
    height: 400px;
    display: block;
    margin: auto;
}
.recommend .img_intro{
    height: 120px;
    /* margin-bottom: -30px; */
    display: flex;
    position: relative;
    top: -70px;
    margin-bottom: -30px;
    /* background: rgba(245, 247, 246, .8); */
    /* background: -webkit-linear-gradient(rgba(245, 247, 246, .7),#E2E8E9,#F5F7F6) */
    background: -webkit-linear-gradient(rgba(245, 247, 246, .7),#F5F7F6,#F5F7F6)
}
.recommend .img_intro aside{
    width: 80px;
    height: 104px;
}
/* .recommend .img_intro aside .date{ */
.date{
    /* box-sizing: border-box; */
    width: 80px;
    height: 60px;
    font-size: 12px;
    text-align: center;
    color: #8C7A9C;
}
.recommend .img_intro aside .date{
    padding-top: 10px;
    color: #fff;
    background: rgba(244,147,10,0.6);
}
/* .recommend .img_intro aside .date span:first-child{ */
.date span:first-child{
    height: 32px;
    line-height: 32px;
    font-size: 30px;
    font-weight: bold;
    display: block;
}
/* .recommend .img_intro aside .view{ */
.view{
    padding: 15px 0 0 15px;
    box-sizing: border-box;
    font-size: 12px;
    color: #777;
    display: flex;
}
/* .recommend .img_intro aside .view i{ */
.view i{
    padding-right: 6px;
}
/* .recommend .img_intro .content{
    margin-left: 5px;
} */
/* .recommend .img_intro .newscontent h5{ */
.newscontent h5{
    padding: 0px 35px 10px;
    font-size: 16px;
    font-weight: normal;
}
.recommend .img_intro .newscontent h5{
    padding: 20px 35px 10px;
    font-size: 18px;
}
/* .recommend .img_intro .newscontent p{ */
.newscontent p{
    padding: 0 35px;
    color: #777;
}
/* ----------------------------------------- */
.yw_menu{
    /* width: 650px; */
    height: 56px;
    font-size: 14px;
    color: #fff;
    line-height: 56px;
    text-align: center;
}
.yw_menu .yw_list{
    display: flex;
}
.yw_menu li{
    padding: 0 12px;
    width: 56px;
    height: 56px;
    background: #413D4B;
    cursor: pointer;
}
.yw_menu li.current{
    border-top: 6px solid #413D4B;
    background: none;
    line-height: 50px;
    color: #444;
}
.newslist{
    padding: 10px 0;
    display: none;
}
.newslist li{
    padding: 15px 0;
    /* height: 133px; */
    border-bottom: 1px solid #dcdcdc;
    display: flex;
}
.newslist .view{
    padding: 15px 35px 10px;
}
.newslist.current{
    display: block;
}
.load{
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 10%;
    background: #461B6E;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}